body{
    background-color: #222831;
    color: white;
    padding: 20px;
}

#currentSchedule{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexCol{
  flex: auto;
  text-align: center;
  padding: 20px;
}

.lectureNode{
  background-color: whitesmoke;
  color: #222831;
  border-radius: 7px;
  padding: 5px;
  margin: 10px;
}

#textStyling{
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    margin: 10px;
}

#textStylingB{
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  margin: 10px;
}

#className, #lectureLink, #time, #days{
    margin: 7px;
}

#addClassButton{
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    border-radius: 7px;
    font-size: 12px;
    width: 100px;
    height: 30px;
    text-align: center;
}

.addClasses{
  margin-bottom: 50px;
}

.imageStyling{
    max-width: 150px;
    border-radius: 200px;
    width: auto;
    height: auto;
    width: 40%;
}

#mybtn{
   padding: 2px;
   width: 30px;
   height: 30px;
   margin: 7px;
   border-radius: 30px;
}
